@import '../../index.css';

h1 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
    top: 15%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.weather__container {
    display: flex;
    align-items: center;
    color: var(--gray);

    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    gap: 81.5px;
}

.weather__temperature {
    display: flex;
    align-items: center;
    color: var(--black);

    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    gap: 23px;
}

.search__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 29px;
    margin-top: 34px;
}

.search__input {
    background: var(--white-1);
    border: 1px solid var(--light-gray-1);
    border-radius: 12px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    width: 752px;
    padding: 16px 21px;
}

.search__input:active {
    color: var(--black);
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 6px 0;
}

.checkbox--completed .checkbox__task-title {
    color: var(--gray);
}

.checkbox--completed .label {
    background: var(--white-1);
    color: var(--gray);
}

.checkbox--completed .checkbox__delete-btn {
    display: none;
}

.checkbox--completed .checkbox__input {
    accent-color: var(--gray);
}

.checkbox--completed .checkbox__edit-btn {
    display: none;
}