:root {
  --background-color: #000;
  --index: calc(1vw+1vh);
  --logo-width: calc(var(--index) * 17);
  --logo-height: calc(var(--index) * 9);
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: var(--background-color);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: var(--logo-height);
  width: var(--logo-width);
  margin-top: calc(var(--index));
  position: absolute;
}

.logo-box {
  height: calc(var(--index) * 9);
  width: calc(var(--index) * 17);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(255, 255, 255);
  animation: movingX 40s linear infinite alternate,
    movingY 20s linear infinite alternate, colorChaiging 20s linear infinite;
}

@keyframes movingX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - var(--logo-width));
  }
}

@keyframes movingY {
  from {
    top: 0;
  }
  to {
    top: calc(100vh - var(--logo-height));
  }
}

@keyframes colorChaiging {
  10% {
    background: rgb(212, 85, 85);
  }
  20% {
    background: rgb(92, 85, 85);
  }
  30% {
    background: rgb(70, 8, 67);
  }
  40 {
    background: rgb(19, 3, 200);
  }
  50% {
    background: rgb(100, 100, 2);
  }
  50 {
    background: rgb(500, 10, 2);
  }
  70% {
    background: rgb(3, 402, 7);
  }
  80% {
    background: rgb(60, 130, 632);
  }
  90% {
    background: rgb(234, 220, 2);
  }
  100% {
    background: rgb(255, 255, 255);
  }
}
