:root {
	margin: 0;
	padding: 0;
	--mint: #56b6b2;
	--lemon: #eee945;
	--red: #ee4545;
	--green: #28bd27;
	--blue: #4227bd;
	--purple: #a127bd;
	--army-green: #434909;
	--azure: #58b7c7;
	--orange: #ec8411;
	--dark-purple: #41005a;
	--dark-green: #005a01;
}

body {
	width: 100vw;
	height: 100vh;
	background-size: 100%;
	background-color: #000;
	position: relative;
	animation: blackScreen 2s linear 1;
}

.dvd-item-1 {
	--width: 199px;
	--height: 109px;
	position: absolute;
	overflow: hidden;
	animation: x-moving 2s linear 0.55s infinite alternate,
		y-moving 3.5s linear 0.55s infinite alternate,
		colorChanging 20s linear 0.5s infinite, turningon 3s linear forwards;
}

.dvd-logo-1 {
	--width: 199px;
	--height: 109px;
	padding-top: 5px;
	padding-right: 3px;
	position: absolute;
	animation: colorChanging 35s 0.5s infinite;
}

.dvd-item-2 {
	--width: 100px;
	--height: 50px;
	position: absolute;
	overflow: hidden;
	animation: x-moving 2s linear 0.55s infinite alternate,
		y-moving 3.5s linear 0.55s infinite alternate,
		colorChanging 20s linear 0.5s infinite, turningon 3s linear forwards;
}

.dvd-logo-2 {
	--width: 100px;
	--height: 50px;
	padding-top: 5px;
	padding-right: 3px;
	position: absolute;
	animation: colorChanging 35s 0.5s infinite;
}

.dvd-item-3 {
	--width: 150px;
	--height: 75px;
	position: absolute;
	overflow: hidden;
	animation: x-moving 2s linear 0.55s infinite alternate,
		y-moving 3.5s linear 0.55s infinite alternate,
		colorChanging 20s linear 0.5s infinite, turningon 3s linear forwards;
}

.dvd-logo-3 {
	--width: 150px;
	--height: 75px;
	padding-top: 5px;
	padding-right: 3px;
	position: absolute;
	animation: colorChanging 35s 0.5s infinite;
}

@keyframes x-moving {
	from {
		left: 0%;
	}
	to {
		left: calc(100vw - var(--width));
	}
}

@keyframes y-moving {
	from {
		top: 0%;
	}
	to {
		top: calc(100vh - var(--height));
	}
}

@keyframes colorChanging {
	0% {
		background-color: var(--mint);
	}
	10% {
		background-color: var(--lemon);
	}
	20% {
		background-color: var(--red);
	}
	30% {
		background-color: var(--green);
	}
	40% {
		background-color: var(--blue);
	}
	50% {
		background-color: var(--purple);
	}
	60% {
		background-color: var(--army-green);
	}
	70 {
		background-color: var(--azure);
	}
	80% {
		background-color: var(--orange);
	}
	90% {
		background-color: var(--dark-purple);
	}
	100% {
		background-color: var(--dark-green);
	}
}

@keyframes turningon {
	0% {
		transform: scale(1, 0.8) translateZ(0);
		filter: brightness(30);
		opacity: 1;
	}

	3.5% {
		transform: scale(1, 0.8) translate3d(0, 100%, 0);
	}

	3.6% {
		transform: scale(1, 0.8) translate3d(0, -100%, 0);
		opacity: 1;
	}

	9% {
		transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
		filter: brightness(30);
		opacity: 0;
	}

	11% {
		transform: scale(1, 1) translateZ(0);
		filter: contrast(0) brightness(0);
		opacity: 0.7;
	}

	90% {
		transform: scale(1, 1) translateZ(0);
		filter: contrast(1) brightness(1.2) saturate(1.3);
		opacity: 1;
	}
}

@keyframes blackScreen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
