html,
body {
  height: 100%;
}

body {
  background-color: $body-background;
  line-height: 22px;
  overflow-x: hidden;
  min-width: 375px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

%title-font {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
}

%default-font {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
