body {
  padding-top: 5%;
}

.container {
  background-image: url("/hw1_iphone/images/f68dafc056dd73439e75999fe65c258e.jpg");
  width: 500px;
  height: 750px;
  margin: auto;
  display: flex;
  align-items: center;
}

.iphone {
  border: 3px solid transparent;
  border-radius: 36px;
  width: 290px;
  height: 596px;
  position: relative;
  box-shadow: rgb(0 0 0 / 97%) -8px 2px 34px, rgb(0 0 0 / 47%) -22px 6px 18px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to top left, #957e6d, #a98d76) border-box;
  display: block;
  margin: auto;
  color: #ffffff;
  z-index: 0;
}

.screen {
  position: absolute;
  background-size: cover;
  width: 260px;
  height: 453px;
  background-image: url("/hw1_iphone/images/content/background-screen.png");
  margin: 60px 13px;
  border: 2px solid #0c0d0b;
  box-shadow: rgb(0 0 0 / 15%) 6px 17px 31px;
  border-radius: 3px;
}

.tools {
  z-index: 15;
  position: absolute;
  width: 223px;
  height: 50px;
  margin-left: 30px;
  margin-top: 7px;
}

.front-camera_left {
  position: absolute;
  border-radius: 50%;
  border: 4px solid rgb(28, 30, 20);
  background: rgb(15, 15, 14);
  top: 18px;
  left: 68px;
}

.front-camera_top {
  position: absolute;
  border-radius: 50%;
  border: 0.2rem solid #1c1e14;
  background: #0f0f0e;
  top: 3px;
  left: 110px;
}

.microphone {
  position: absolute;
  top: 20px;
  right: 87px;
  width: 42px;
  height: 3px;
  border-radius: 0.2rem;
  background: #1d1312;
  border: 1px solid #9f9796;
}

.bottom-btn {
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to top left, #3c3628, #ffffff) border-box;
  top: 533px;
  left: 124px;
  width: 45px;
  height: 43px;
  cursor: pointer;
  opacity: 0.8;
}

.screen {
  position: absolute;
}

.top-bar {
  position: absolute;
  width: 251px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin: 2px 5px;
  opacity: 0.8;
}

.signal-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.provider {
  font-size: 9px;
  line-height: 0px;
  padding: 0 2px;
}

.top-btn {
  position: absolute;
  top: 5px;
  right: 116px;
  width: 24px;
  height: 5px;
  border-radius: 0.2rem;
  background: #f9f9f9;
  border: 1px solid #c8c7cc;
  opacity: 0.3;
  cursor: pointer;
}

.date {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif;
  margin-top: 0;
}

.time {
  font-size: 56px;
  font-weight: initial;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  font-family: serif;
}

.slider {
  display: flex;
  margin-top: 250px;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
}

.slider-text {
  font-size: 17px;
  font-weight: 100;
  margin-left: 7px;
  font-family: serif;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgb(43, 43, 43) 27%,
    rgb(20, 20, 20) 51%,
    rgb(198, 202, 203) 70%
  );
}

.bottom-bar {
  display: flex;
  margin-left: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.camera-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: -48px;
}

.camera-btn_img {
  width: 85%;
  height: 85%;
  opacity: 0.5;
}

.bottom-bar_btn {
  width: 23px;
  height: 5px;
  border-radius: 0.2rem;
  background: #f9f9f9;
  border: 1px solid #c8c7cc;
  opacity: 0.3;
  cursor: pointer;
  margin-bottom: -46px;
}

.btn {
  position: absolute;
  top: 72px;
  width: 1.7px;
  height: 22px;
  background-color: #b59588;
  background: radial-gradient(
    circle,
    rgba(181, 164, 140, 1) 12%,
    rgba(194, 164, 142, 0.76234243697479) 74%
  );
  left: -3.5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 5;
}

.btn2-left {
  top: 118px;
  height: 33px;
}

.btn3-left {
  top: 162px;
  height: 33px;
}

.btn-right {
  position: absolute;
  top: 104px;
  width: 4px;
  height: 39px;
  left: 290px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 5;
}
