body {
  background-color: #000;
  padding-top: 5%;
}

.container {
  background-image: url("/hw1_iphone/images/background-page.png");
  width: 500px;
  height: 750px;
  margin: auto;
  display: flex;
  align-items: center;
}

.iphone {
  border: 3px solid transparent;
  border-radius: 36px;
  width: 290px;
  height: 600px;
  position: relative;
  box-shadow: -7px 5px 21px #a7998a;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom left, #a7846e, #d2c4af) border-box;
  display: block;
  margin: auto;
  cursor: pointer;
  color: #ffffff;
}

.screen {
  position: absolute;
  background-size: cover;
  width: 260px;
  height: 448px;
  background-image: url("/hw1_iphone/images/content/background-screen.png");
  margin: 60px 13px;
  border: 2px solid #5f5c56;
  border-radius: 3px;
}

.tools {
  z-index: 15;
  position: absolute;
  width: 223px;
  height: 50px;
  margin-left: 30px;
  margin-top: 7px;
}

.front-camera_left {
  position: absolute;
  border-radius: 50%;
  border: 0.3rem solid #1c1e14;
  background: #0f0f0e;
  top: 18px;
  left: 70px;
}

.front-camera_top {
  position: absolute;
  border-radius: 50%;
  border: 0.2rem solid #1c1e14;
  background: #0f0f0e;
  top: 3px;
  left: 110px;
}

.microphone {
  position: absolute;
  top: 22px;
  right: 91px;
  width: 37px;
  height: 4px;
  border-radius: 0.2rem;
  background: #1d1312;
  border: 1px solid #9f9796;
}

.bottom-btn {
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to top left, #3c3628, #dfd7cb) border-box;
  top: 535px;
  left: 126px;
  width: 45px;
  height: 45px;
}
