$body-background: #F2F4F7;
$element-background: #FFFFFF;
$default-search:#9D9FA1;
$default-border-color: #eaecf0;
$black: rgba(0, 0, 0, 0);

%title-font {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

%default-font {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}