$default-background: #F2F4F7;
$default-search:#9D9FA1;

%title-font {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

%default-font {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}