@import "vars";
@import "libs";
@import "global";
@import "media";


  .header { 
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom: 1px solid #EAECF0;
    width: 100%;
    height: 66px;
    position:relative;
    &__search {
      display:flex;
      padding-top: calc(calc(66px - 46px)/2);
      padding-left: 32px;
      position: relative;
      margin: 0;
    }
    &__search-icon {
        border: none;
        background-color: transparent;
        position: absolute;
        left:49px;
        top: 26px;
        cursor: pointer;
    } 
    &__search-input {
        width: 75%;
        height: 44px;
        border-radius: 6px;
        border: 1px solid #EAECF0;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        padding-left: 52px;
        &::placeholder {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            font-family: "Inter", sans-serif;
            color: #9D9FA1;
          }
    }
    &__icon-bar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0px;
      gap: 32px;
    
      position: absolute;
      width: 208px;
      height: 40px;
      right: 2.6%;
      top: calc(50% - 40px/2 + 2px);
    }
    &__icon-bar-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    &__icon-bar-logo{}
    &__icon-bar-status{}
    &__icon-bar-avatar{}
    &__icon-bar-avatar-photo{}
    &__icon-bar-avatar-status{}
  }

.premium {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 2%; 
  width: 96%;
  height: 128px;
  background: #282828;
  border-radius: 16px;

  &__content {
    padding-left: 32px
  }
  &__content-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #FFFFFF;
  }
  &__content-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
  }
  &__btn {
    margin-right: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 143px;
    height: 46px;
    right: 36px;
    top: calc(50% - 46px/2);
    background: #FFFFFF;
    border-radius: 39px;
  } 
  &__btn-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #282828;
  }
}
